@model Obl2_P3.Models.VMVivienda
@using Dominio.Clases;
@{
    ViewBag.Title = "Modificar estado";
    ViewBag.ActiveMenuItem = "vivienda";
}

<h2>Vivienda</h2>

<div class="form-horizontal">
    <h4>Modificar estado</h4>
    <hr />

    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ViviendaId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ViviendaId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.calle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.calle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nro_puerta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nro_puerta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Barrio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Barrio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cant_banio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cant_banio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cant_dormitorio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cant_dormitorio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.metraje)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.metraje)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.anio_construccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.anio_construccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.moneda)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.moneda)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.precio_final)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.precio_final)
        </dd>
    </dl>

    <div class="form-group">
        @Html.LabelFor(model => model.estado, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <select id="slc_EstadosVivienda" class="form-control">
                <option>Nuevo estado</option>
                <option value="@Vivienda.Estados.Habilitada">@Vivienda.Estados.Habilitada</option>
                <option value="@Vivienda.Estados.Inhabilitada">@Vivienda.Estados.Inhabilitada</option>
                <option value="@Vivienda.Estados.Recibida">@Vivienda.Estados.Recibida</option>
                <option value="@Vivienda.Estados.Sorteada">@Vivienda.Estados.Sorteada</option>
            </select>
        </div>
    </div>
</div>

<p style="font-size:19px; font-weight: bold; color: darkred; margin-bottom: 15px;">
    @ViewBag.Message
</p>


<div>
    <form>
        <button type="submit" class="btn btn-primary" style="margin-bottom:20px">Enviar</button>
    </form>
</div>


<div>
    @Html.ActionLink("Volver", "UnfoldVivienda")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $("#slc_EstadosVivienda").on("change", function () {
            var idVivienda = @Model.ViviendaId;
            var nuevoEstadoVivienda = $("#slc_EstadosVivienda").val();

            var url = "/Vivienda/SaveModifyState?id="+idVivienda+"&nuevoEstado="+nuevoEstadoVivienda;

            $("form").prop("action", url);
            $("form").prop("method", "post");
        });
    </script>
}