@model Obl2_P3.Models.VMSorteo
@*@using Obl2_P3.Models;*@

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Sorteo</h4>
        <hr />

        @* TODO: No se puede ver la fecha para atras de hoy *@

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.fecha, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.fecha, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.fecha, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label for="cmb-barrio-filter" class="control-label col-md-2">Barrio</label>
            <div class="col-md-10">
                <select id="cmb-barrio-filter">
                    <option value="">Seleccionar</option>
                    @foreach (var b in ViewBag.barrios)
                    {
                        <option value="@b.BarrioId">@b.nombre_barrio</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Vivienda, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10" id="div-cmb-vivienda">
                @*Enumerable.Empty<VMVivienda>().ToList()
                    @Html.DropDownListFor(m => m.Vivienda, new SelectList(ViewBag.viviendas), "Seleccionar") *@
                <select data-val="true" data-val-number="The field Vivienda sorteada must be a number." data-val-required="The Vivienda sorteada field is required." id="cmb-viviendas" name="Vivienda">
                    <option value="">Seleccionar</option>
                </select>
                @Html.ValidationMessageFor(model => model.Vivienda, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Volver al listado", "Index")
</div>

@section Scripts {
    <script type="text/javascript">
        $('#cmb-barrio-filter').on('change', function () {
            if ($(this).val() != '') {

                var idBarrio = $("#cmb-barrio-filter").val();
                var slc = $("#cmb-barrio-filter");

                while (slc.length > 0) {
                    slc.remove(1);
                }

                $("#cmb-viviendas").append(" <option value=''>Seleccionar</option>");

                for(var v in @ViewBag.viviendas){
                    if (v.BarrioId = idBarrio) {
                        $("#cmb-viviendas").append(" <option value="+ v.ViviendaId +">"+ v.ViviendaId +"</option> ");
                    }
                }
            }
        });
    </script>
}
