<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title | Solucion Habitacional</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    @Html.ActionLink("Solucion Habitacional", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </a>
            </div>
            <ul class="nav navbar-nav">

                <li class = @(ViewBag.ActiveMenuItem == "home" ? "active" : "" )>
                    @Html.ActionLink("Inicio", "Index", "Home", new { area = "" })
                </li>

                <li class="dropdown">
                    <a class="dropdown-toggle @(ViewBag.ActiveMenuItem == "sorteo" ? "active" : "" )" data-toggle="dropdown" href="#">
                        Sorteo
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Sortear vivienda", "Index", "Sorteo")</li>
                        <li>@Html.ActionLink("Ver sorteos", "About", "Home")</li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a class="dropdown-toggle @(ViewBag.ActiveMenuItem == "home" ? "vivienda" : "" )" data-toggle="dropdown" href="#">
                        Vivienda
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Ver viviendas", "About", "Home")</li>
                        <li>@Html.ActionLink("Importar viviendas", "About", "Home")</li>
                    </ul>
                </li>

                <li class=@(ViewBag.ActiveMenuItem == "barrio" ? "active" : "")>
                    @Html.ActionLink("Barrios", "Index", "Barrio")
                </li>
                

                <li class = @(ViewBag.ActiveMenuItem == "about" ? "active" : "")>
                        @Html.ActionLink("Acerca de", "About", "Home")
                </li>
            </ul>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Ignacio Cabrera - Santiago Manzoni.</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
